.vditor-toolbar--pin {
  padding: 0 86px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  gap: 10px !important;
}

.vditor-icon {
  display: none !important;
}

.vditor-reset > p > img {
  width: 150px !important;
  height: 150px !important;
  object-fit: contain;
}
